*~
000.STATUS.py
boliche.nja
cafeteria.db
cafeteria_dev.db
Control_General_Cafeteria*
correo_gmail.py
DATABASES.py
dev.db
GMAIL.py
gumby.css
local_settings.py
*.log
*.pot
*.pyc
.ropeproject
settings_local.py
style.css
virtualenv
