# Generar requerimientos:
# ~~~~~~~~~~~~~~~~~~~~~~
# pip freeze > requirements.txt
#
# Instalar requermientos:
# ~~~~~~~~~~~~~~~~~~~~~~
# pip install -U -r requirements.txt

Django
South
argparse
distribute
docutils
ipython
#wsgiref
#gunicorn
#django_debug_toolbar
#gcal2gcal
