# Generar requerimientos:
# ~~~~~~~~~~~~~~~~~~~~~~
# pip freeze > requirements.txt
#
# Instalar requermientos:
# ~~~~~~~~~~~~~~~~~~~~~~
# pip install -r requirements.txt

Django==1.5.1
South==0.8.1
argparse==1.2.1
distribute==0.6.34
docutils==0.10
ipython==0.13.2
wsgiref==0.1.2
