# Generar requerimientos:
# ~~~~~~~~~~~~~~~~~~~~~~
# pip freeze > requirements.txt
#
# Instalar requermientos:
# ~~~~~~~~~~~~~~~~~~~~~~
# pip install -r requirements.txt

Django==1.5.1
South==0.7.6
argparse==1.2.1
distribute==0.6.24
wsgiref==0.1.2
